<div class="container">
	<div class="row">
		<h1>This is Listing Page</h1>
		<ul>
			<% @questions.each do |x|%>
			<li><%= x.full_question.to_s + "/" + x.user.full_name.to_s %> 
				<br/>
				<em>
					<% if x.answers %>
					<ul>
						<% x.answers.each do |y| %>
						<li><%= y.full_answer.to_s + " - " + y.user.full_name.to_s %>
							<br/>
							<a href="/questions/<%= x.id %>/answers/<%= y.id %>/edit">Edit</a> | 
							<!-- DELETE !-->
							<form action="/questions/<%= x.id %>/answers/<%= y.id %>" method="post">
							<input type="submit" value="Delete">
						</form>
						</li>
						<% end %>
					</ul>
					<% end %>
				</em>
				<br/>
				<form action="/questions/<%= x.id %>/answers/new" method="get">
					<input type="submit" value="Answer!">
				</form>
			</li>
			<% end %>
		</ul>

	</div>
</div>
<a href="/homepage">Back to Profile Page</a>